html {
  overflow: auto;
  scroll-behavior: smooth;
  body {
    background-color: $grey;
    font-family: "GTAmerica";
    font-size: 18px;
    color: $third-color;
    position: relative;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
  }
}

.Vue-Toastification__toast--default.spendesk {
  background-color: $purple;
  color: white;
}
