input,
select,
textarea {
  font-family: "GTAmerica";
  border: 1px solid #c0c0c8;
  color: #434159;
  border-radius: 8px;
  padding-left: 15px;
  min-height: 50px;
  font-size: 14px;

  &:focus {
    border: 1px solid #5d21d2 !important;
    outline: none;
  }
}

label {
  text-align: left;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}
